<div class="header">
</div>

<div class="main-item">
  <h2 class="title">今月の重点項目</h2>
  <div class="important-item">
    <p>"</p><%= link_to '食費', "#"%> <p>"</p>
  </div>
  <div>30000円</div> 
</div>

<div class="footer">
</div>